{% extends "layout.html" %}
{% block title %}Beansed It...{% endblock %}
{% block content %}
<html lang="en">
<head>
<style>
<!--    body {-->
<!--      background-image: url('https://images.alphacoders.com/127/127671.jpg');-->
<!--      background-repeat: no-repeat;-->
<!--    }-->

    .jumbotron {
        background: rgba(255, 255, 255, 0.7);
     }
</style>
</head>
<body>
{% if errorType=="generalError" %}
<div class="container body-content">
    <div class="jumbotron" style="text-align: center">
    <font face="Inherit" size="5vw" color="#000000">You've hit the error page! We don't know what went wrong. Maybe try turning it off and on again?</font><br>
    </div>
    <div class="center-image">
        <img src="https://i.kym-cdn.com/photos/images/facebook/001/431/201/40f.png" alt="Pikachu" width="865" height="753">
    </div>
</div>
{% elif errorType=="databaseError" %}
<div class="container body-content">
    <div class="jumbotron" style="text-align: center">
    <font face="Inherit" size="5vw" color="#000000">You've hit the error page! Your tried starting a game with no data in your database!<br>
    Head to the Pokedex page below to start filling up your Pokedex before battle!</font>
    </div>
</div>
<div class="center">
            <button class="welcome-page-button wide_button" type="button" onclick="location.href='../pokedex'">Pokedex</button>
        </div>
{% endif %}
</body>
</html>
{% endblock %}