{% extends "layout.html" %}
{% block title %}Letsssss Battle!{% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
<style>
    .float-container{
        padding: 20px;
    }

    .float-child{
        width: 50%;
        float: left;
        padding: 20px;
    }

</style>
</head>
<body>
<div class="float-container">
    <div class="float-child">
        <button class="game-page-button" type="button" onclick="location.href='/playgame/nextbutton1'">Next</button>
        <div class="pokemon-card-container">
            <div class="inner-container">
                <img src="https://i.pinimg.com/originals/ed/c7/c6/edc7c6437653ab73346c7bf08c884077.jpg" class="pokemon-card">
                <span class="name-position" id="pokemonName">{{  player1Cards[0].name  }}</span>
                <span class="stats-position" id="pokemonStats">Attack: {{  player1Cards[0].attack  }} Defence: {{  player1Cards[0].defence  }}</span>
                <span class="types-position" id="pokemonTypes">{{  player1Cards[0].types  }}</span>
                <img class="pokemon-image-position" id="pokemonImage" src="{{  player1Cards[0].image  }}">
            </div>
        </div>
        Number of Cards: {{  player1Cards|length  }}
    </div>
</div>
<div class="float-child" id="divTypeSelect" style="top: 50%">
    {% if attackingPlayer == 0 %}
    <fieldset>
        <legend><b>Attacking Player is Player 1</b> <br></legend>
        <legend>What type would you like to attack with?</legend>
        <select name="typesSelect" id="typesSelect" onchange="getType()">
            {% set typeList = player1Cards[0].types.split(',') %}
            {% for type in typeList %}
                <option  value="{{ type  }}">{{  type  }}</option>
            {% endfor %}
        </select>
    </fieldset><br>
    <button onclick="location.href='/playgame/attack'">Attack</button>
    {% elif attackingPlayer == 1 %}
    <fieldset>
        <legend><b>Attacking Player is Player 2</b></legend>
        {% set typeList = player1Cards[0].types.split(',') %}
        {% set attType = typeList|random %}
        <legend>Please press continue to see the results..</legend>
    </fieldset><br>
    <button onclick="location.href='/playgame/attack'">Continue</button>
{% endif %}
</div>

<script>
    function getType() {
     var attType = document.getElementById("typesSelect").value;
    }
</script>

<!--<div class="float-child" style="visibility: hidden;">-->
<!--        <button class="game-page-button" type="button" onclick="location.href='/playgame/nextbutton2'">Next</button>-->
<!--        <div class="pokemon-card-container">-->
<!--            <div class="inner-container">-->
<!--                <img src="https://i.pinimg.com/originals/ed/c7/c6/edc7c6437653ab73346c7bf08c884077.jpg" class="pokemon-card">-->
<!--                <span class="name-position" id="pokemonName2">{{  player2Cards[0].name  }}</span>-->
<!--                <span class="stats-position" id="pokemonStats2">Attack: {{  player2Cards[0].attack  }} Defence: {{  player2Cards[0].defence  }}</span>-->
<!--                <span class="types-position" id="pokemonTypes2">{{  player2Cards[0].types  }}</span>-->
<!--                <img class="pokemon-image-position" id="pokemonImage2" src="{{  player2Cards[0].image  }}">-->
<!--            </div>-->
<!--        </div>-->
<!--        Number of Cards: {{  player2Cards|length  }}-->
<!--    </div>-->
</body>
</html>
{% endblock %}