{% extends "layout.html" %}
{% block title %}*Victory Noises*{% endblock %}
{% block content %}
<html>
<style>
body {
  background-image: url('https://external-preview.redd.it/Bi1qWxi_PfeHqezYSy9MQK6vb9D9KDsL9IGCPYZ6318.jpg?auto=webp&s=495d0973018faec35f3d7b4f448d3a360bacd454');
  background-repeat: no-repeat;
}

.jumbotron {
        background: rgba(255, 255, 255, 0.7);
        height: 100%
        width: 100%
     }
</style>
<body>
<div class="container body-content">
    <div class="jumbotron" style="text-align: center">
        <font face="Inherit" size="6px" color="#000000">  {{endFlag}} has collected all the pokemon cards and is crowned victorious! </font>
    </div>
</div>

<audio autoplay loop id="background">
    <source src="{{ url_for('static', filename='Audio/game-victory.mp3') }}" type="audio/mpeg">
</audio>

<script>
    document.getElementById("background").play;
    var background_music = document.getElementById("background");
    background_music.volume = 0.1;
</script>

</body>
{% endblock %}