{% extends "layout.html" %}
{% block title %}Letsssss Battle!{% endblock %}
{% block content %}
<style>
body {
  background-image: url('https://external-preview.redd.it/Bi1qWxi_PfeHqezYSy9MQK6vb9D9KDsL9IGCPYZ6318.jpg?auto=webp&s=495d0973018faec35f3d7b4f448d3a360bacd454');
  background-repeat: no-repeat;
}
</style>
<html>
<link rel="stylesheet" href="style.css">
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>

<body>
<font face="Inherit" size="6px" color="#000000">  {{endFlag}} has collected all 151 cards and is crowned victorious! </font>
</body>
{% endblock %}