{% extends "layout.html" %}
{% block title %}Welcome!{% endblock %}
{% block content %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Welcome Screen</title>
</head>
<style>
     .jumbotron {
        background: rgba(255, 255, 255, 0.7);
        height: 100%
        width: 100%
     }
</style>
<body>
<div class="container body-content">
    <div class="jumbotron">
        <h1>Welcome to Pokemon</h1>
        <p class="lead">Do you want to be the very best... like no one ever was?
        </p>
    </div>
        <div class="center">
                <button class="welcome-page-button wide_button" type="button" onclick="location.href='pokedex'">Pokedex</button>
        </div>
        <p></p>
        <div class="center">
                <button class="welcome-page-button wide_button" type="button" onclick="location.href='playgame'">Play Game</button>
        </div>
        <p></p>
        <div class="center">
            <button class="welcome-page-button wide_button" type="button" onclick="location.href='damage_relations'">Damage Relations</button>
        </div>
        <p></p>
        <div class="center">
            <button class="welcome-page-button wide_button" type="button" onclick="PlayOnClick()">Evolve</button>
        </div>
<!--            <img src="https://giphy.com/gifs/pokemon-cbMp1PSySlKjS">-->
        </div>
</div>


<script>
    var audio_click = new Audio("{{ url_for('static', filename='Audio/click.mp3') }}");
    document.onclick = function() {
        audio_click.play();
    }

    var audio_evolve = new Audio("{{ url_for('static', filename='Audio/JOHN.mp3') }}");
    function PlayOnClick() {
    audio_evolve.play();
    }
</script>
</body>

</html>

{% endblock %}